{% extends "layout.html" %} {% block body %}

<script type=text/javascript
	src="{{url_for('static', filename='js/jquery-ui.min.js') }}"></script>

<script type=text/javascript
	src="{{url_for('static', filename='js/date-de-DE.js') }}"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


<link href="{{url_for('static', filename='css/jquery-ui.min.css') }}"
	rel="stylesheet">


{% set finished = False %}
{% for row in sensor_rows %}


<div class="row">

    {% for sensor in row %}
    
    


	    <div class="col-md-4 col-xl-2">
	        {% if sensor != 0 %}
		<div class="type_{{ config.sensors[sensor].type }}_border panel panel-default">
			<div class="type_{{ config.sensors[sensor].type }}_bg panel-heading">
				<h3 class="panel-title" style="color: white">
					<span class="flaticon" style="color: white;"></span>{{ config.sensors[sensor].alias }}
				</h3>
			</div>
			<table class="table">
				<tr>
					<td>
						<p>{{_("Meter reading:")}}</p> <span
						style="font-family: Iceland; font-size: 30pt; margin: 0px 10px 0px 10px">
							{{ sensor_data[sensor] }} {{ config.sensors[sensor]["unit_string"] }}</span>
				</tr>

				<tr>
					<td>
						<p id="{{ config.sensors[sensor].id }}_chart_heading"></p>
						<div style="position: relative; width: 100%; left: 0; top: 0; height:300px">
						<canvas id="{{ config.sensors[sensor].id }}_chart_div"></canvas>
						</div>

					</td>
				</tr>
			</table>
		</div>
	
	{% endif %}
</div>



	
    {% endfor %}

	    </div>
    {% endfor %}



<script type=text/javascript
	src="{{url_for('static', filename='js/home_plot.js') }}"></script>


{% endblock %} {% block footer %}

<div class="panel panel-default" id="footer1">
	<div class="panel-body">
		<div style="text-align: center;">

			<a href="/attribution">Attribution and open source software</a>

		</div>
	</div>



	{% endblock %}